.wrapper
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__user
          = current_user.name
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__menu__new-group
            = link_to new_group_path do
              = fa_icon 'pencil-square-o',class: 'fa-edit'
          %li.chat-side__header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'fa-cog'
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__group-name
              = group.group_name
            .group__group-messages
              = group.show_last_message

  .chat-main
    .chat-main__header
      .chat-main__header__group-name-box
        %h2.chat-main__header__group-name-box__current-group
          = @group.group_name
        %ul.chat-main__header__group-name-box__member-list
          Member :
          %li.chat-main__header__group-name-box__member-list__member
            - @group.users.each do |user|
              = "#{user.name},"
      = link_to edit_group_path(@group) do
        .edit-btn Edit
    .messages
      = render @messages
      / = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    / .message-form
    /   %form{action: "", enctype: "", method: "post"}
    /     .message-form__box
    /       %input{name: "", placeholder: "type a message", type: "text"}/
    /       %label.message-form__box__image{for: "message_image"}
    /         %i.fa.fa-image
    /         %input.message-form__box__image__file{name: "message[image]", type: "file"}/
    /     %input.sent-btn{"data-disable-with":"sent", name: "", type: "submit", value: "Send"}/









