.wrapper
  = render 'devise/shared/side_bar'

  .chat-main
    .chat-main__header
      .chat-main__header__group-name-box
        %h2.chat-main__header__group-name-box__current-group
          = @group.group_name
        %ul.chat-main__header__group-name-box__member-list
          Member :
          %li.chat-main__header__group-name-box__member-list__member
            - @group.users.each do |user|
              = "#{user.name},"
      = link_to edit_group_path(@group) do
        .edit-btn Edit
    .messages
      = render @messages
      / = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    / .message-form
    /   %form{action: "", enctype: "", method: "post"}
    /     .message-form__box
    /       %input{name: "", placeholder: "type a message", type: "text"}/
    /       %label.message-form__box__image{for: "message_image"}
    /         %i.fa.fa-image
    /         %input.message-form__box__image__file{name: "message[image]", type: "file"}/
    /     %input.sent-btn{"data-disable-with":"sent", name: "", type: "submit", value: "Send"}/









